.header {
  background-color: orangered;
  height: 40px;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 55px;
}

.title {
  text-align: center;
  padding-top: 10px;
}

.nav-btn {
  justify-self: start;
  border: none;
  border-radius: none;

  background-color: white;
  height: 2px;
  width: 35px;
  margin-top: 20px;
}
.nav-btn::before,
.nav-btn::after {
  background-color: white;
  height: 2px;
  width: 35px;
  content: "";
  display: block;
  margin-left: -6px;
}

.nav-btn::before {
  transform: translateY(-7px);
}
.nav-btn::after {
  transform: translateY(5px);
}

.cards {
  width: 100%;
  margin: auto 0;
  display: grid;
  grid-gap: 30px;

  grid-template-columns: repeat(auto-fit, 300px);
  grid-template-rows: repeat(2, 1fr);

  align-content: center;
  justify-content: center;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);

  justify-content: end;
  align-content: end;

  margin-bottom: 10px;
  height: 500px;
}

.homeTeam {
  font-size: 12px;
  background-color: blue;
  text-align: center;
}

.awayTeam {
  text-align: center;
  font-size: 12px;
  background-color: blue;
}
